@model ITWebManagement.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-container">
    <h2 class="mb-4"><i class="fas fa-trash me-2"></i>Xóa mua hàng</h2>
    <h3>Bạn có chắc chắn muốn xóa mục này?</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
    </dl>
    <form asp-action="Delete" method="post" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PurchaseID" name="PurchaseID" />
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>